<!-- Modal Structure -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between align-items-center">
        <h5 class="modal-title" id="myModalLabel">[[ form.searchDialogTitle ]]</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-header">
        <input type="text" class="form-control mb-2" v-model="form.searchDialogQuery" placeholder="Search...">
    </div>
      <div class="modal-body">
        <!-- Scrollable List -->
        <ul class="list-group">
          <li
            v-for="(entry, index) in form.searchDialogFilteredData()"
            :key="entry.VORGNR"
            class="list-group-item"
            :class="{'bg-success text-white': form.searchDialogSelectedEntry === entry}"
            @click="form.selectedSearchEntry(entry)"
          >
            <div style="font-size: 12pt; text-align: left;">
              <span style="font-weight: bold;">[[ entry.VORGNR ]] - </span>
              <span>[[ entry.KURZBEZ ]]</span><br />
              <span>[[ entry.NAME1 ]]</span>
              <!-- Additional information below NAME1, displayed only when the entry is selected -->
              <div v-if="form.searchDialogSelectedEntry === entry" style="font-size: 12pt; padding-top: 5px; margin-top: 5px; border-top: 1px solid #ccc;">
                <div>Bezeichnung: [[ entry.BEZ ]]</div>
                <div>Kundennummer: [[ entry.KUNDR ]]</div>
                <div>Erstellt am: [[ entry.ERSTELLT ]]</div>
                <div>Liefertermin: [[ entry.LTPROD ]]</div>
                <div>Lieferland: [[ entry.UIDLAND ]]</div>
                <!-- Add more properties here as needed -->
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" @click="form.confirmedSearchSelection()">OK</button>
      </div>
    </div>
  </div>
</div>